body {
    margin: 0;
}

/* ===================================
NAVIGACIJA
=================================== */

.navigacija {
    background-color: lightskyblue;
    padding: 25px 50px;
    
    display: flex; /* įjungiam stulpelius */
    justify-content: space-between; /* stulpelius horizontaliai išmėtom į šonus */
    align-items: center; /* stulpelius vertikaliai centruojam */
}

.navigacija a{
    text-decoration: none;
    color: black;
}

.navigacija a:hover {
    color: white;
}

.navigacija ul {
    display: flex;
    list-style-type: none;
}

/* ===================================
HEADER BLOKAS
=================================== */

.header {
    background-color: aquamarine;
    padding: 50px;
    height: 70vh;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .turinys {
    max-width: 300px;
    background-color: white;
}

/* ===================================
NAUDŲ BLOKAS
=================================== */

.naudos {
    padding: 25px 50px;
    display: flex;
    gap: 30px;
}

.naudos .nauda {
    flex: 1; /* kad visi stulpeliai būtų visiškai vienodo pločio */
}

/* ===================================
SUSISIEKIMŲ BLOKAS
=================================== */

.susisiekimas {
    background: orange;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.susisiekimas .forma {
    width: 220px;
    background: rgb(255, 255, 255, 0.5);
    padding: 8px 16px;
    box-sizing: border-box;
}

/* ===================================
PASLAUGŲ BLOKAS
=================================== */

.paslaugos {
    padding: 25px 50px;
    background-color: bisque;
}

.paslaugos .paslaugu-sarasas {
    display: flex;
    gap: 24px;
}

.paslaugos .paslauga {
    border: 1px solid black;
    padding: 16px;
    flex: 1;
}