/* ===================================
NAVIGACIJA
=================================== */

.navigacija {
    background-color: lightskyblue;
    padding: 25px 50px;
    
    display: flex; /* įjungiam stulpelius */
    justify-content: space-between; /* stulpelius horizontaliai išmėtom į šonus */
    align-items: center; /* stulpelius vertikaliai centruojam */
}

.navigacija a{
    text-decoration: none;
    color: black;
}

.navigacija a:hover {
    color: white;
}

.navigacija ul {
    display: flex;
    list-style-type: none;
}

/* ===================================
HEADER BLOKAS
=================================== */

.header {
    background-color: aquamarine;
    padding: 50px;
    height: 70vh;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .turinys {
    max-width: 300px;
    background-color: white;
}