/* font-family: "Anybody", sans-serif;
  font-weight: 400; */

  /* font-family: "Karla", sans-serif;
  font-weight: 700; */

   /* font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500; */

  /* font-family: "Inter", sans-serif;
  font-weight: <weight>; */
  /* vietoj Satoshi */

  /* font-family: "Sedgwick Ave", cursive;
  font-weight: 400; */

/* ===================================
GENERAL
=================================== */

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* margin: 0 */

    box-sizing: border-box;
}

.fullscreen {
    border-radius: 1px;
}


/* ===================================
NAVIGATION
=================================== */

nav {
    padding: 12.5px 20px;
    height: 56px;

    box-sizing: border-box;

    background: rgba(254, 254, 254, 1);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .container a {
    font-family: "Anybody", sans-serif;
    font-weight: 400;
    font-size: 17.53px;
    line-height: 110.00000000000001%;
    letter-spacing: 3%;
    /* vertical-align: middle; */

    text-decoration: none;

    color: rgba(71, 81, 84, 1);

    margin: 0;
}


nav .container ul {
    display: flex;
    gap: 40px;

    list-style-type: none;

    margin: 0;
    padding: 0;
}


nav .container ul li a {
    font-family: "Anybody", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 3%;
    /* vertical-align: middle; */

    text-decoration: none;

    color: rgba(55, 55, 55, 1);

    transition: 0.2s all;
}

nav .container ul li a:hover {
    color: rgba(55, 55, 55, 0.527);
}

nav .burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5.25px;
  width: 24px;
  height: 24px;
}

nav .burger span {
  height: 0.75px;
  background: rgba(1, 1, 1, 1);
}

nav .burger span.firstBurger {
    width: 17.25px;
}

nav .burger span.secondBurger {
    width: 20.25px;
}

nav .burger span.thirdBurger {
    width: 13.5px;
}

@media only screen and (max-width: 768px) {
    nav .burger {
        display: flex;
    }

  nav .nav-links {
    position: absolute;
    top: 56px;
    right: 0;
    flex-direction: column;
    background: rgba(254, 254, 254, 1);
    width: 200px;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  nav .nav-links.open {
    transform: translateX(0);
  }
}

/* ===================================
HEADER
=================================== */

header {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('./images/header.png') no-repeat center center;

    background-size: cover;

    padding: 120px 0 114px 44px;
    box-sizing: border-box;
}

header .container h1 {
    font-family: "Anybody", sans-serif;
    font-weight: 400;
    font-size: 68.87px;
    line-height: 130%;
    letter-spacing: 3%;
    /* vertical-align: middle; */

    color: rgba(254, 254, 254, 1);

    margin-top: 0;
    margin-bottom: 108px;
}

header .container h1 span {
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-size: 68.87px;
    line-height: 130%;
    letter-spacing: 3%;
    vertical-align: middle;

    position: relative;
}

header .container h1 span img {
    position: absolute;

    left: 0;
    top: 74px;

    width: 289px;
}

header .container button {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: rgba(22, 22, 22, 1);
    background: rgba(213, 219, 255, 1);

    padding: 14px 119.5px;
    box-sizing: border-box;

    border: none;

    margin-left: 7px;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 42px 0 22px;
    }

    header .container h1 {
    font-size: 33.51px;
    text-align: center;

    margin-bottom: 269px;
    }

    header .container h1 span {
    font-size: 33.51px;
    line-height: 130%;
    letter-spacing: 3%;
    }

    header .container h1 span img {
    left: -19px;
    top: 34px;

    width: 184px;
    }

    header .container button {
    margin: 0 auto;
    display: block;
    }
}

/* ===================================
CONTENT
=================================== */

.content {
    padding: 40px 16px;
    box-sizing: border-box;

    background: rgba(254, 254, 254, 1);
}

.content .container {
    position: relative;
}

.content .container h2 {
    font-family: "Anybody", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 3%;
    /* vertical-align: middle; */

    margin-top: 0;
    margin-bottom: 32px;
}

.content .container .bestsellers {
    display: flex;
    gap: 12px;

    /* position: relative; */
}

.content .container .bestsellers .bestseller {
    width: 343px;
}

.content .container .bestsellers .bestseller img {
    width: 100%;
    height: 257.38px;
    object-fit: cover;
}

.content .container button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* vertical-align: bottom; */

    border-radius: 30px;
    border: none;

    padding: 12px 16px;
    box-shadow: 0px 0px 30px 1px rgba(242, 244, 252, 0.5);
    box-sizing: border-box;

    background: rgba(22, 50, 205, 1);
    color: rgba(254, 254, 254, 1);

    display: flex;
    justify-content: space-between;
    gap: 8px;

    position: absolute;
    top: 50%;
    left: 41%;
}

.content .container button img {
    width: 22px;
    height: 22px;
}

@media only screen and (max-width: 768px) {
    .content .container h2 {
    font-size: 24px;
    }

    .content .container .bestsellers {
    flex-wrap: wrap;
    }

    .content .container .bestsellers .bestseller {
    width: calc((100% - 1 * 12px) / 2);
    }

    .content .container .bestsellers .bestseller:nth-child(1) {
        order: 1;
    }

    .content .container .bestsellers .bestseller:nth-child(2) {
        order: 4;
    }

    .content .container .bestsellers .bestseller:nth-child(3) {
        order: 3;
    }

    .content .container .bestsellers .bestseller:nth-child(4) {
        order: 2;
    }

    .content .container button {
    top: 37%;
    left: 35%;
    }
}

/* ===================================
MODAL
=================================== */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal .modal-content {
    background: linear-gradient(
    180deg,
   rgb(2, 9, 46, 1) 0%,   
   rgb(19, 42, 174) 50%,  
   rgb(230, 247, 255) 100%  
);
    margin: 56px auto 64px;
    padding: 20px 24px;
    border: 1px solid rgba(252, 252, 252, 1);
    border-radius: 20px;
    width: 92.3%;
    max-width: 1330px;
    box-sizing: border-box;
    /* height: 780px; */
}

.modal .modal-content .modal-upperPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .modal-content .modal-upperPart .imgDefault,
.modal .modal-content .modal-upperPart .imgClose {
    width: 24px;
    height: 24px;
}

.modal .modal-content .modal-upperPart .imgMobile {
    display: none;
}

.modal .modal-content .modal-textPart {
    margin: 168.08px auto;
    text-align: center;
    max-width: 480px;
    /* height: 234px; */
}

.modal .modal-content .modal-textPart h3 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;

    color: rgba(252, 252, 252, 1);

    margin: 0 auto 48px;

    max-width: 408px;
}

.modal .modal-content .modal-textPart .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.modal .modal-content .modal-textPart .buttons button {
    border-radius: 10px;
    border: none;
    padding: 12px;
    box-sizing: border-box;

    white-space: nowrap;

    background: rgba(255, 255, 255, 0.1);
    color: rgba(252, 252, 252, 1);
   
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;

    transition: 0.2s all;
}

.modal .modal-content .modal-textPart .buttons button:hover {
    border: 1px solid rgba(217, 217, 217, 1);

    background: rgba(255, 255, 255, 0.2);
}

.modal .modal-content .modal-textPart .buttons button:active {
    background: rgba(255, 255, 255, 0.3);
}

.modal .modal-content .modal-textPart .buttons button:focus {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 
    0px 0px 0px 6px rgba(54, 84, 255, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1);
}

.modal .modal-content .modal-textPart .buttons .firstRow-buttons {
    display: flex;
    justify-content: center;
    gap: 16px; 
}

.modal .modal-content .modal-textPart .buttons .secondRow-buttons {
    display: flex;
    justify-content: center;
    gap: 16px; 
} 

.modal .modal-content .modal-downPart {
    text-align: center;

    /* margin-top: auto; */
}

/* .modal .modal-content .modal-downPart .textarea-wrapper {
    position: relative;
    display: inline-block;
} */

.modal .modal-content .modal-downPart .textarea-wrapper {
    position: relative;
    display: inline-block;

    width: 480px;
}

.modal .modal-content .modal-downPart .textarea-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  pointer-events: none;
  background: linear-gradient(
    0deg, 
    rgba(222, 227, 255, 1), 
    rgba(222, 227, 255, 0)
  );
   opacity: 0; 
   transition: opacity 0.3s;
}

/* .modal .modal-content .modal-downPart .textarea-wrapper textarea {
    width: 480px;
    min-height: 120px;
    max-height: 200px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(252, 252, 252, 1);
    padding: 16px 60px 16px 16px;
    box-sizing: border-box;

    background: rgba(222, 227, 255, 1);
    color: var(--text-default, rgba(10, 20, 68, 1));

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    overflow-y: scroll;
    scrollbar-width: none;
    resize: none;
} */

.modal .modal-content .modal-downPart .textarea-wrapper.hasOverflow::before {
  opacity: 1; 
}

.modal .modal-content .modal-downPart .textarea-wrapper .editable {
    /* width: 480px; */
    min-height: 120px;
    max-height: 200px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(252, 252, 252, 1);
    padding: 16px 60px 16px 16px;
    box-sizing: border-box;

    background: rgba(222, 227, 255, 1);
    color: var(--text-default, rgba(10, 20, 68, 1));

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    overflow-y: auto;
    scrollbar-width: none;
    resize: none;

    white-space: pre-wrap;
    word-wrap: break-word;

    display: block;
    text-align: left;
}

.modal .modal-content .modal-downPart .textarea-wrapper .editable::before {
    top: 16px; 
}

/* .modal .modal-content .modal-downPart .textarea-wrapper textarea::-webkit-scrollbar {
    display: none;
} */

.modal .modal-content .modal-downPart .textarea-wrapper .editable::-webkit-scrollbar {
    display: none;
}

/* .modal .modal-content .modal-downPart .textarea-wrapper textarea::placeholder {
  color: var(--text-secondary, rgba(68, 78, 133, 1));
} */

/* .modal .modal-content .modal-downPart .textarea-wrapper textarea:focus,
.modal .modal-content .modal-downPart .textarea-wrapper textarea:active {
    border: 2px solid rgba(252, 252, 252, 1);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.6);
    outline: none;
} */

.modal .modal-content .modal-downPart .textarea-wrapper .editable:focus {
    border: 2px solid rgba(252, 252, 252, 1);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.6);
    outline: none;
}

.modal .modal-content .modal-downPart .textarea-wrapper .editable.placeholder::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 16px;
  left: 16px;
  color: rgba(68, 78, 133, 1);
  pointer-events: none;
}

.modal .modal-content .modal-downPart .textarea-wrapper .editable:not(:empty) {
    border: 1px solid var(--border-inverted, rgba(252, 252, 252, 1));
}

.modal .modal-content .modal-downPart .textarea-wrapper img {
    width: 32px;
    height: 32px;
    
    position: absolute;
    right: 16px;
    bottom: 16px; 
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .modal .modal-content {
        padding: 20px 28px 32px;
        width: 100%;
        /* max-width: 786px; */
        height: 100vh;
        margin: 0;
    }

    .modal .modal-content .modal-upperPart .imgDefault {
        display: none;
    }

    .modal .modal-content .modal-upperPart .imgMobile {
    display: block;
    }

    .modal .modal-content .modal-textPart {
    margin: 215.5px auto;
    max-width: 334px;
    }

    .modal .modal-content .modal-textPart h3 {
    font-size: 28px;

    max-width: 286px;
    }

    .modal .modal-content .modal-textPart .buttons {
    flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    }

    .modal .modal-content .modal-textPart .buttons::-webkit-scrollbar {
    display: none; 
    }

    .modal .modal-content .modal-downPart .textarea-wrapper {
    width: 334px;
    }

    .modal .modal-content .modal-downPart .textarea-wrapper::before {
    height: 30px;
    }

    .modal .modal-content .modal-downPart .textarea-wrapper .editable {
    min-height: 96px;
    max-height: 168px;
    /* width: 334px; */
    }

    .modal .modal-content .modal-logoPart {
        display: none;
    }
}


















