/* font-family: "Inter", serif; */

body {
    margin: 0;
}

.virselio-nuotrauka {
    height: 373px;
}

.virselio-nuotrauka img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.antraste {
    /* background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    (180deg, #AFBACB 0%, rgba(175, 186, 203, 0) 110.33%); */

    background: linear-gradient(180deg, #AFBACB 0%, rgba(175, 186, 203, 0) 110.33%), #FFFFFF;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 133px;
    /* Padding sutvarke man "aukscio" problema ir nebera tarpo tarp nuotraukos. Kai margin ant h1 neveike */

    position: sticky;
    top: 0;
    /* Kitu budu pakaktu tik sito top (buvo ir Figmoj), pagal nuotraukos auksti */
    left: 0;
    right: 0;
}

.antraste h1 {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.42px;

    margin: 0;

    color: rgba(55, 54, 54, 1);
}

.turinys {
    margin: 56px 199px 132px 133px;

    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0.42px;
}

