/* body {
    background-color: orange;
} */

.iprastas {
    background-color: aquamarine;
    text-align: justify;
}

.padding-pirmas {
    background-color: burlywood;
    text-align: justify;
    padding: 32px;
    border: 5px solid black;
}

.padding-antras {
    background-color: deepskyblue;
    /* 50px viršuje ir apačioje,
       20px šonuose */
    padding: 50px 20px;

    border-color: darkblue;
    border-width: 6px;
    border-style: dashed;
}

.padding-trecias {
    background-color: gold;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;

    border-left: 10px double orangered;
}

.padding-ketvirtas {
    background-color: lightseagreen;
     /* nuo viršaus pagal laikrodžio kryptį:
    -  20px viršuje
    -  50px dešinėj
    -  80px apačioje
    -  10px kairėje */
    padding: 20px 50px 80px 10px;

    border-bottom: 2px dashed darkcyan;
    border-right: 7px dotted black;
}

.padding-penktas {
    background-color: lightsteelblue;
    width: 200px;
    padding: 20px;
     /* jeigu box-sizing nebūtų uždėtas tai šito elemento
    plotis būtų: padding kairys + turinys + padding dešinys,
    arba: 20px + 200px + 20px,
    o dabar width 200px ir yra su viskuo (įskaitant padding
    ir content) */
    box-sizing: border-box;

    border: 2px solid black;
    border-bottom: none;
    /* cia svarbu eiliskumas */
}

.margin-pirmas {
    background-color: lightcoral;
    padding: 16px 32px;
}

.margin-pirmas p {
    background-color: rgb(255, 255, 255, 0.2);
    /* 50px viršus apačia, 0 šonai */
    /* pagal didesni, siuo atveju vienodai */
    margin: 50px 0;

    border: 5px solid red;
    outline: 4px dashed blue;
}

.margin-antras {
    background-color: mediumaquamarine;
    display: flex;
}

.margin-antras p {
    background-color: rgb(255, 255, 255, 0.2);
    width: 100px;
    margin: 0 20px;
    /* abieju suma, t. y. 40px */
}

.kortele1 {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    
    /* viršuj apačioj atitraukimo neturi, bet
       pagal šonus yra centre */
    margin: 0 auto;

    border-bottom-left-radius: 15px;
}

.kortele1 h3 {
    margin: 0;
}

.kortele1 p {
    margin-bottom: 0;
}

.kortele2 {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    width: 300px;
    box-sizing: border-box;

    /* viršuj ir apačioj atstumas nuo kitų elementų
    ne mažiau nei 40px (jei jie tures kitaip), o šonai auto, kas reiškia, kad
    centruojasi horizontaliai */
    margin: 40px auto;

    border-radius: 10px;

    box-shadow: 10px 10px 30px black;
}

.kortele2 h3 {
    margin: 30px 30px 0;
}

.kortele2 p {
    margin: 16px 30px 30px;
}

.kortele3 {
    border: 1px solid #ccc;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    /* pacentravo korteleje esanti teksta */
    
    /* jeigu dedu ant visos korteles, tai atsitraukia viskas kartu (ir nuotrauka, ir tekstai) */
    /* padding: 20px */

    margin-left: auto;
    margin-right: auto;

    border-radius: 25px;
    /* kad nuotrauka neisliptu toliau nei kortele apvalinta */
    overflow: hidden; 

    margin-bottom: 20px;
    box-shadow: 15px 10px 2px black;
}

.kortele3 .nuotrauka img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.kortele3 .turinys {
    /* jeigu dedu čia, tai atsitraukia tik tekstinė
       informacija, o nuotrauka lieka savo vietoje */
    padding: 20px;
}

.kortele4 {
    background-color: bisque;
    padding: 30px 40px;

    /* viršus kairė, viršus dešinė, apačia dešinė, apačia kairė */
    border-radius: 40px 10px 70px 10px;
}

.kortele4 p {
    /* nuemem p margin, nes auto nuo narsykles uzsideda */
    margin: 0
}

.kortele4 a {
    color: black;
    border: 2px solid black;
    text-decoration: none;
    /* padding nes borderis mygtuko, kad didetu */
    padding: 5px 10px;
    display: inline-block;
    /* margin atitrauke nuo paragrafo */
    margin-top: 10px;
}