:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.btn {
  padding: 10px 30px;

  background-color: cadetblue;
  color: white;

  border-radius: 20px;
  border: 1px solid rgb(64, 119, 121);
  cursor: pointer;
  display: inline-block;

  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
}

.btn:hover {
  background: rgb(64, 119, 121);
}

.btn-red {
  background-color: red;
  border-color: darkred;
}

.btn-red:hover {
  background-color: darkred;
}

