.preke {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    margin: 20px auto;
    width: 300px;
    box-sizing: border-box;
}

.preke img {
    width: 100%;
}

.gyvunai {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gyvunai .gyvunas {
    width: calc((100% - 2 * 20px) / 3);
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgb(215, 215, 215);
}