/* ---------------- */
/* BENDRI STILIAI */
/* ---------------- */

/* font-family: "Roboto", sans-serif;
  font-weight: 700; */

body {
    margin: 0;
    padding: 133px 0 161px;
    background: rgba(229, 212, 251, 1);

    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    line-height: 32px;
    vertical-align: middle;

    color: rgba(37, 37, 37, 1);

    margin-top: 0;
    margin-bottom: 32px;
}

button {
    cursor: pointer;
}

/* ---------------- */
/* ITEMS WRAPPER BLOCK */
/* ---------------- */

.items-wrapper-block {
    background: rgba(255, 255, 255, 1);

    
    border-radius: 8px;
    padding: 48px 48px 32px;
}

/* ---------------- */
/* ITEMS WRAPPER HEADER */
/* ---------------- */

.items-wrapper-header {
    padding-right: 32px;
    padding-left: 24px;
    
    border-bottom: 2px solid rgba(217, 217, 217, 1);

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
}

.items-wrapper-header p {
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;

    color: rgba(117, 117, 117, 1);

    margin: 0;
    padding: 16px 435px 16px 16px;
}

.items-wrapper-header .items-wrapper-header-right {
    display: flex;
    gap: 100px;
}

.items-wrapper-header .items-wrapper-header-right p {
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;

    color: rgba(117, 117, 117, 1);

    margin: 0;
    padding: 16px 8px;
}

/* ---------------- */
/* ITEMS WRAPPER CONTENT */
/* ---------------- */

.items-wrapper-content {
    padding-top: 16px;
    padding-bottom: 16px;
}

.items-wrapper-content .item {
    /* padding: 16px 56px 16px 24px; */
    padding-left: 24px;
    padding-right: 56px;
    
    border-bottom: 2px solid rgba(217, 217, 217, 1);

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
}


.items-wrapper-content .item .item-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;

    padding: 16px 0;
    box-sizing: border-box;
}

.items-wrapper-content .item .item-part img {
    width: 160px;
    height: 120px;
    border-radius: 4px;
    object-fit: cover;
}

.items-wrapper-content .item .item-part h2 {
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;

    color: rgba(37, 37, 37, 1);

    margin: 0;

    width: 448px;
    box-sizing: border-box;
}

.items-wrapper-content .item .count-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 66px;

    padding: 53.5px 0;
    box-sizing: border-box;
}

.items-wrapper-content .item .count-part p {
    font-size: 18px;
    line-height: 24px;

    color: rgba(37, 37, 37, 1);

    margin: 0;

    padding: 9.5px 0 9.5px;
    width: 96px;
    box-sizing: border-box;
}

.items-wrapper-content .item .count-part .btn {
    border: none;

    width: 150px;
    height: 45px;

    display: flex;
}

.items-wrapper-content .item .count-part .btn .btn-minus {
    /* width: 38px;
    height: 45px; */

/* width: 12px;
height: 3px; */

padding: 0 21px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
box-sizing: border-box;

background: rgba(235, 235, 235, 1);

border: none;

color: rgba(0, 0, 0, 1);

font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 24px;
}

.items-wrapper-content .item .count-part .btn span {
    background: rgba(243, 243, 243, 1);
    color: rgba(37, 37, 37, 1);

    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.5px;

    padding: 11px 31.5px;
    box-sizing: border-box;

    /* width: 11px;
    height: 23px; */
}

.items-wrapper-content .item .count-part .btn .btn-plus {
    padding: 0 21px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;

    background: rgba(235, 235, 235, 1);

    border: none;

    color: rgba(0, 0, 0, 1);

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 21px;
}

.items-wrapper-content .item .image img {
    border-radius: 50px;
    padding: 8px; 
} 

/* ---------------- */
/* ITEMS WRAPPER FOOTER */
/* ---------------- */

.items-wrapper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-wrapper-footer .btn {
    padding: 16px 0;
}

.items-wrapper-footer .btn button {
    padding: 8px 16px;
    border-radius: 4px;
    border: 2px solid rgba(37, 37, 37, 1);
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: rgba(37, 37, 37, 1);
    background: none;
}

.items-wrapper-footer .btn button:hover {
    background: rgba(37, 37, 37, 1);
    color: rgba(239, 238, 232, 1);
}

.items-wrapper-footer .price {
    padding: 24px 0;
}

.items-wrapper-footer .price p {
    font-size: 18px;
    line-height: 24px;

    color: rgba(37, 37, 37, 1);

    margin: 0;
}

.items-wrapper-footer .price p span {
    font-size: 24px;
    line-height: 24px;
    /* text-align: right; */
    margin-left: 16px;

}



