// sass variables (kintamieji) - $pavadinimas: reiksme;
// css variables (kintamieji) - var(--pavadinimas)

$spalvaPirmine: royalblue;
$spalvaPirmineHover: rgb(82, 123, 244);

$spalvaTamsi: #222;
$spalvaTamsiHover: #363636;


body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $spalvaTamsi;
    padding: 10px 20px;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color:$spalvaPirmine;
        }
    }

    .brand {
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 20px;

        li {
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}

header {
    background: $spalvaPirmine;
    padding: 100px 20px;
    text-align: center;

    h1 {
        margin: 0;
    }

    p {
        margin: 20px 0;
    }

    a {
        color: white;
        text-decoration: none;
        background: $spalvaTamsi;
        padding: 10px 20px;
        border-radius: 5px;

        &:hover {
            background: $spalvaTamsiHover;
        }
    }
}

.paslaugos {
    padding: 50px 20px;

    h2 {
        margin: 0 0 20px;
        text-align: center;
    }

    .paslaugu-sarasas {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .paslauga {
            width: calc((100% - 2 * 20px) / 3);
            background: #f8f8f8;
            padding: 20px;
            box-sizing: border-box;

            a {
                background: $spalvaPirmine;
                color: white;
                padding: 10px 20px;
                display: inline-block;
                border-radius: 5px;
                text-decoration: none;

                &:hover {
                    background: $spalvaPirmineHover;
                }
            }
        }
    }
}

