body {
    background-color: bisque;
}

body > div {
    background: white;
    padding: 2em;
    margin: 5em;
}

textarea {
    width: 100%;
}

/* Tryliktas div */

#tryliktas .parametrai {
    display: flex;
    margin-bottom: 2em;
}

#tryliktas .parametrai .parametras {
    width: 20%;
    padding: 5px 10px;
}

#tryliktas #div-keitimui {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Keturioliktas div */

#keturioliktas textarea {
    background-color: #ececec;
    border: 1px solid #bebebe;
}

/* Šešioliktas div */

#sesioliktas .skirtukas {
    border: 1px dotted grey;
    padding: 1em;
}

#sesioliktas .skirtukas#antras-skirtukas {
    display: none;
}

/* Septynioliktas div */

#septynioliktas #perjungti-tekstas {
    display: none;
}

/* Aštuonioliktas div */

#astuonioliktas #kitas-perjungti-tekstas {
    display: none;
}

/* Dvidešimtas div */

.ilgas-tekstas {
    background-color: royalblue; /* Nusispalvina, jei tekstas virš 100 simbolių */
}

/* Dvidešimtantras div */

.modal {
    display: none; /* Pradiniame etape langas paslėptas */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Pusiau skaidrus fonas */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}