body {
    margin: 0;
}

.siltis {
    padding: 40px;
}

.skiltis:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.skiltis:nth-child(even) {
    background-color: rgb(218, 218, 218);
}

.turinys {
    background: white;
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
}

.skaiciu-didinimas {
    text-align: center;
}

.skaiciu-didinimas button {
    padding: 40px 80px;
}

.didinti-po-10 {
    text-align: center;
}

.didinti-po-10 button {
    padding: 40px 80px;
}

.didinti-mazinti {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.didinti-mazinti p,
.didinti-mazinti button {
    font-size: 30px;
}

.didinti-mazinti button {
    font-size: 10px 20px;
}

.kepykla .duomenu-grupe {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 20px;
    margin: 30px 0;
    padding: 30px;
    position: relative;
}

.kepykla .duomenu-grupe h3 {
    margin: 0;
    position: absolute;
    left: 30px;
    top: 0;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 10px;
    font-size: 16px;
    color: rgb(70, 70, 70);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.kepykla .duomenu-grupe > div {
    display: flex;
    margin: 10px 0;
}

.kepykla .duomenu-grupe label,
.kepykla .duomenu-grupe input {
    flex: 1;
}

.fiksuoti-laika button {
    font-size: 20px;
}