/* font-family: "Montserrat", serif;

font-family: "Inter", serif;

font-family: "Poppins", serif; */

body {
    background: rgba(250, 250, 250, 1);
    margin: 0;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

/* ===================================
NAVIGACIJA
=================================== */

.navigacija {
    padding: 30px 0;
    /* cia nereikia deti to soninio paddingo esant konteineriui, realiai tiesiog kaip iscentravimui tie 300px */
    box-sizing: border-box;

    box-shadow: 0px 4px 4px 0px rgba(231, 133, 43, 0.13);

    background: rgba(255, 255, 255, 1);

}

.navigacija .navigacijos-eile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigacija .navigacijos-eile p {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    margin: 0;
}

.navigacija .navigacijos-eile p span {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    color: rgba(231, 133, 43, 1);
}

.navigacija .nuorodos1 ul {
    display: flex;
    gap: 40px;

    list-style-type: none;

    margin: 0;
    padding: 0;
}

.navigacija .nuorodos1 a {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;

    color: rgba(0, 0, 0, 1);
}

.navigacija .nuorodos1 .primary {
    /* font-family: "Inter", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none; */

    background: rgba(231, 133, 43, 1);
    color: rgba(255, 255, 255, 1);


    border-radius: 20px;
    padding: 0 8px;
    display: inline-block;
}

/* ===================================
HEADERIS
=================================== */

.header {
    background: linear-gradient(to right, white 44%, transparent 44%),
      url("nuotraukos/virselis.jpg");
      background-position: center, 780px;
      background-size: auto, 64%;
      min-height: 687px;
  }

  @media only screen and (min-width:639px) and (max-width:820px) {
    .header {
    background: linear-gradient(to top, white 44%, transparent 44%),
    url("nuotraukos/virselis.jpg");
    background-position: center, 780px;
    background-size: auto, 64%;
    min-height: 371px;
    }
}

.header .virsaus-eile {
    display: flex;
}

.header .kaire {
    /* background: rgba(254, 254, 254, 1); */
    /* kitaip lipa i nuotrauka */

    padding: 181px 27px 181px 0;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .header .kaire {
        padding: 150px 0;
    }
  }

  @media only screen and (min-width:639px) and (max-width:820px) {
    .header .kaire-turinys {
        padding: 0 24px;
    }
  }

.header .kaire-turinys h1 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 82px;
    line-height: 90.2px;

    margin-top: 0;
    margin-bottom: 16px;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .header .kaire-turinys h1 {
    font-size: 72px;
    line-height: 79.2px;
    }
  }

.header .kaire-turinys h1 span {
    /* font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 82px;
    line-height: 90.2px;

    margin-top: 0;
    margin-bottom: 16px; */

    display: block;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .header .kaire-turinys h1 span {
        display: inline;
    }
  }

.header .kaire-turinys h2 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: rgba(231, 133, 43, 1);

    margin-top: 0;
    margin-bottom: 32px;
}

.header .nuorodos2 a {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.94px;
    text-decoration: none;

    color: rgba(0, 0, 0, 1);

    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
   
    padding: 16px 32px;
    display: inline-block;

    margin-left: 16px;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .header .nuorodos2 a {
        font-size: 18px;
        line-height: 21.78px;
    }
  }

.header .nuorodos2 .primary2 {
    /* font-family: "Inter", serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.94px; */

    color: rgba(255, 255, 255, 1);

    border: none;
    /* border-radius: 4px; */

    /* padding: 16px 32px;
    display: inline-block; */

    background: rgba(231, 133, 43, 1);

    margin: 0;
}

/* ===================================
VIRŠUTINĖ JUOSTELĖ
=================================== */

.virsutine-juostele {
    background: rgba(231, 133, 43, 1);
    padding: 30px 0;

}

.virsutine-juostele p {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    text-align: justify;

    color: rgba(255, 255, 255, 1);

    margin: 0;
}

/* ===================================
TURINYS
=================================== */

.turinys h2 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 52.8px;

    margin-top: 122px;
    margin-bottom: 40px;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .turinys h2 {
        margin-top: 78px;
        margin-bottom: 55px;
    }
  }

.turinys .automobiliai {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    margin-bottom: 120.09px;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .turinys .automobiliai {
        margin-bottom: 85px;
    }
  }

.turinys .automobilis {
    padding: 80px 30px 36px;
    width: calc((100% - 2 * 24px) / 3);
    box-sizing: border-box;

    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15);
    
    border-radius: 16px;

    background: rgba(255, 255, 255, 1);
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .turinys .automobilis {
        padding: 57px 30px;
        width: calc((100% - 24px) / 2);
        box-sizing: border-box;
    }
  }

.turinys .automobilis img {
    width: 100%;
    height: 232px;
    object-fit: contain;
}

.turinys .automobilis h3 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 40px;

    margin: 20px 0;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .turinys .automobilis h3 {
        margin: 24px 0;
    }
  }

.turinys .automobilis p {
    padding: 8px 32px;

    border-radius: 8px;

    background: rgba(244, 202, 164, 1);

    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    color: rgba(69, 37, 8, 1);
    
    margin-top: 0;
    margin-bottom: 20px;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .turinys .automobilis p {
        padding: 8px 0;
        background: none;
        margin-bottom: 24px;
    }
  }

.turinys .automobilis p span {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(91, 49, 11, 1);
}

.turinys .automobilis a {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    text-decoration: none;

    color: rgba(0, 0, 0, 1);
    
    padding: 16px 48px;
    display: inline-block;

    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 1);

    /* margin-left: 16px; */
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .turinys .automobilis a {
        font-size: 18px;
        line-height: 21.78px; 

        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
  }

.turinys .automobilis .primary3 {
    color: rgba(255, 255, 255, 1);
    background: rgba(231, 133, 43, 1);

    border: none;

    /* margin: 0; */
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .turinys .automobilis .primary3 {
        margin-bottom: 16px; 

        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
  }

/* ===================================
APATINĖ JUOSTELĖ
=================================== */

.apatine-juosta {
    padding: 80px 0;

    background: rgba(255, 255, 255, 1);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.apatine-juosta .juostos-eile {
    display: flex;
    gap: 125px;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .apatine-juosta .juostos-eile  {
        flex-wrap: wrap;
    }
  }

.apatine-juosta .juostos-eile p {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: rgba(119, 119, 119, 1);

    margin: 0;
    padding: 10px 0;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .apatine-juosta .juostos-eile p {
        width: 100%;
    }
  }

.apatine-juosta .juostos-eile ul {
    list-style-type: none;

    margin: 0;
    padding: 10px;

    width: 46.5%;
    box-sizing: border-box;

    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .apatine-juosta .juostos-eile ul {
        width: calc((100% - 125px) / 2);
    }
  }

.apatine-juosta .juostos-eile li {
    margin: 10px 0;
}

.apatine-juosta .juostos-eile .nuorodai {
    margin: 0;
}

.apatine-juosta .juostos-eile a {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

    color: rgba(119, 119, 119, 1);
}

.apatine-juosta .juostos-eile .kontaktai {
    padding: 10px;
    width: 60%;
    box-sizing: border-box;
}

@media only screen and (min-width:639px) and (max-width:820px) {
    .apatine-juosta .juostos-eile .kontaktai {
        width: calc((100% - 125px) / 2);
    }
  }

.apatine-juosta .juostos-eile .kontaktai p {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: rgba(0, 0, 0, 1);

    padding: 0;
}

.apatine-juosta .juostos-eile .kontaktai .su-zenkliuku {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: rgba(231, 133, 43, 1); 
}

.apatine-juosta .juostos-eile .kontaktai .pirmas {
    margin: 10px 0;
}
/* ziuriu default per 1920 ekrana */


















